.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('https://raw.githubusercontent.com/PotatoKween/UraniumFever.github.io/refs/heads/main/main_menu.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1000;
}

.button-layer {
    position: absolute;
    left: 8%; 
    top: 60%;
    transform: translateY(-20%); 

    display: flex;
    flex-direction: column;
    
    gap: 40px; 
    
    width: 400px; 
}

.menu-btn {
    display: block;
    padding: 25px 20px;
    font-size: 1.5rem;
    background-color: #141414; 
    color: #e3c452; 
    border: 4px solid #e3c452; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    letter-spacing: 3px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;
}

.menu-btn:hover {
    background-color: #e3c452;
    color: #141414;
    transform: scale(1.05);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #141414;
    border: 5px solid #e3c452;
    color: #e3c452;
    padding: 40px;
    width: 60%;
    max-width: 800px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    box-shadow: 0 0 20px rgba(227, 196, 82, 0.4);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
}

.close-btn:hover { color: #fff; }

#modal-title { text-transform: uppercase; margin-top: 0; }
#modal-body { line-height: 1.6; font-size: 1.1rem; }

hr { border: 1px solid #e3c452; margin: 20px 0; }

